.dashboard__row {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-rows: 1fr;
  gap: 16px;
}

.dashboard__placeholder {
  background-color: var(--muralis-primary);
}

.dashboard__placeholder--chart {
  display: block;
  height: 256px;
}

.dashboard__bar-chart {
  position: relative;
  width: 100%;
  padding: 8px;
}

.dashboard__doughnut {
  background-color: #fff;
  height: 100%;
  position: relative;
}

@media (min-width: 992px) {
  .dashboard__row {
    grid-template-columns: repeat(4, 1fr);
  }
}
