@import url("bootstrap/dist/css/bootstrap.min.css");

* {
  padding: 0;
  margin: 0;
}

.muralis-primary {
  background-color: #0e2c4e;
  color: #fff;
}

.muralis-primary:disabled {
  background-color: #164881;
  color: #fff;
}

.muralis-primary--hover:hover {
  background-color: #07192c;
  color: #fff;
}
