@import url("bootstrap/dist/css/bootstrap.min.css");
@import url("bootstrap-icons/font/bootstrap-icons.css");
@import url("react-toastify/dist/ReactToastify.min.css");

* {
  padding: 0;
  margin: 0;
}

:root {
  --toastify-color-light: transparent;
  --toastify-toast-width: 500px;
  --muralis-primary: #0e2c4e;
}

.notification__container {
  box-shadow: none;
}

.muralis-primary {
  background-color: var(--muralis-primary);
}

.muralis__text-primary {
  color: var(--muralis-primary);
}

.muralis-primary,
.muralis-primary:disabled,
.muralis-primary--active,
.muralis-primary--hover:hover,
.muralis-primary:focus {
  color: #ef7228;
}

.muralis-primary:disabled {
  background-color: #164881;
}

.muralis-primary--hover:hover,
.muralis-primary--active,
.muralis-primary:focus {
  background-color: #07192c;
}

.muralis-primary:focus {
  border: 1px solid #164881;
  box-shadow: 0 0 0 0.25rem #16488140;
}
