.application-form {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ededed;
}

.application-form__header {
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

.application-form__main {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 10px;
}

.application-form__form {
  padding: 16px;
}
