.application-form {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.application-form__main {
  background-color: white;
  border: 1px solid black;
}

.application-form__form {
  padding: 16px;
}
